<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include header %>
  </head>
  <body>
    <div class="container-narrow">

      <div class="masthead">
        <ul class="nav nav-pills pull-right menu-list">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="http://blog.evereader.io">Blog</a></li>
        </ul>
        <h2 class="muted hidden-phone">FOR.EVEREADER.IO</h2>
        <h4 class="muted visible-phone">FOR.EVEREADER.IO</h4>
      </div>

      <hr>

      <div class="jumbotron row-fluid">
        <div class="span8">
          <iframe class="hidden-phone" src="http://player.vimeo.com/video/69277800" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
          <iframe class="visible-phone media-small" src="http://player.vimeo.com/video/69277800" width="300" height="169" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
        <div class="span4">
          <h1>Don't do anything</h1>
          <p class="lead">Powerful RSS Reader using EVERNOTE.</p>
          <a class="btn btn-large btn-success" href="/authentication"><img class="ico" src="/images/evernote_ico.png" alt="Evernote Logo" height="32" width="32">Sign in with Evernote</a>
        </div>
      </div>

      <hr>

      <div class="row-fluid marketing">
        <div class="span4">
          <h4>Simple To Use</h4>
          <p>We don't need any application. Just enter the url and wait a second.</p>
        </div>

        <div class="span4">
          <h4>Powerful Categorization</h4>
          <p>We generate variable category from you feeds. It helps your read.</p>
        </div>

        <div class="span4">
          <h4>Keep forever</h4>
          <p>Our App powered by Evernote. So your content is safe forever!</p>
        </div>
      </div>
      <hr>
      <% include footer %>

    </div> <!-- /container -->

  </body>
</html>
