<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include header %>
  </head>
  <body>
    <div class="container-narrow">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="http://blog.evereader.io">Blog</a></li>
        </ul>
        <h3 class="muted main-title">FOR.EVEREADER.IO</h3>
      </div>

      <hr>

      <div class="jumbotron row-fluid">
        <div class="span8">
          <iframe class="hidden-phone" src="http://player.vimeo.com/video/69277800" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
          <iframe class="visible-phone media-small" src="http://player.vimeo.com/video/69277800" width="300" height="169" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
        <div class="span4">
          <h1>Don't do anything</h1>
          <p class="lead">Powerful RSS Reader using EVERNOTE.</p>
          <a class="btn btn-large btn-success" href="/authentication"><img class="ico" src="/images/evernote_ico.png" alt="Evernote Logo" height="32" width="32">Sign in with Evernote</a>
        </div>
      </div>

      <hr>

      <div class="row-fluid marketing">
        <div class="span4">
          <h4>Simple To Use</h4>
          <p>에버리더가 더욱 강력하게 카테고리 분류를 해드립니다.</p>
        </div>

        <div class="span4">
          <h4>에버노트와 통합</h4>
          <p>에버노트와 RSS Reader 두가지를 따로 사용하지 않고 에버노트앱 하나로 두가지 모두를 사용할 수 있니다.</p>
        </div>

        <div class="span4">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
        </div>
      </div>
      <hr>
      <% include footer %>

    </div> <!-- /container -->

  </body>
</html>