<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include header %>
  </head>
  <body>
    <div class="container-narrow">

      <div class="masthead">
        <ul class="nav nav-pills pull-right menu-list">
          <li><a href="/">Home</a></li>
          <li><a href="http://blog.evereader.io">Blog</a></li>
        </ul>
        <h2 class="muted hidden-phone">FOR.EVEREADER.IO</h2>
        <h4 class="muted visible-phone">FOR.EVEREADER.IO</h4>
      </div>

      <hr>

      <div style="margin:30px 0;text-align:center;">
        <h1>welcome</h1>
        <p>
          Install Evernote App on 
          <a class="" href="itms-apps://itunes.apple.com/us/app/evernote/id281796108">iOS</a> or
          <a class="" href="market://details?id=com.evernote">android</a>
        </p>
        <p style="font-size:25px;"><strong>
          Go to 
          <a class="" href="evernote://home">app</a> or
          <a class="" href="https://www.evernote.com/Home.action">web</a>
        </strong></p>
        <p>Add rss urls to note named “evereader-url" in evereader notebook</p>
        <p>wait for a minute</p>
        <p>enjoy</p>
      </div>

      <hr>
      <% include footer %>

    </div> <!-- /container -->
  </body>
</html>